img {
  margin: 10px 0px !important;
  border: 1px solid #cccccc !important;
  border-radius: 10px !important;
  box-shadow: 0px 0px 5px #dddddd !important;
  transition: box-shadow 0.5s ease;
}

img:hover {
  box-shadow: 0px 0px 20px #dddddd !important;
}

div.sourceCode {
  max-width: 100%;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

pre.sourceCode {
  background: #222222 !important;
  color: #eeeeee !important;
  border-radius: 10px !important;
  white-space: pre !important;
  margin: 0 !important;
  padding: 1em !important;
  display: block !important;
  min-width: 100%;
  box-sizing: border-box !important;
}

pre.sourceCode * { color: inherit !important; }
pre.sourceCode .va { color: #ffff00 !important; font-style: italic !important; }
pre.sourceCode .kw { color: #ff0088 !important; }
pre.sourceCode .fu { color: #0088ff !important; font-weight: bold !important; }
pre.sourceCode .st { color: #00ff88 !important; }
pre.sourceCode .dv { color: #ff8800 !important; }
pre.sourceCode .fl { color: #ff8800 !important; }
pre.sourceCode .op { color: #ff00ff !important; }
pre.sourceCode .cn { color: #880088 !important; }
pre.sourceCode .co { color: #00aa88 !important; }


